{
 "authorization-plugins": [],
 "data-root": "/apps/docker",
 "dns": [],
 "dns-opts": [],
 "dns-search": [],
 "exec-opts": [],
 "experimental": true,
 "storage-driver": "",
 "storage-opts": [],
 "labels": ["hostname={{ ansible_fqdn }}"],
 "log-driver": "syslog",
   "log-opts": {
   "tag": "{{'{{'}}.Name{{'}}'}}",
   "syslog-address": "udp://127.0.0.1:514",
   "syslog-facility": "local0",
   "syslog-tls-ca-cert": "",
   "syslog-tls-cert": "",
   "syslog-tls-key": ""
 },
 "mtu": 0,
 "pidfile": "",
 "cluster-store": "",
 "cluster-advertise": "",
 "max-concurrent-downloads": 3,
 "max-concurrent-uploads": 5,
 "shutdown-timeout": 15,
 "debug": false,
 "hosts": ["unix:///var/run/docker.sock","tcp://0.0.0.0:2376"],
 "log-level": "info",
 "group": "",
 "default-ulimits": {},
 "bridge": "",
 "fixed-cidr": "",
 "raw-logs": true,
 "allow-nondistributable-artifacts": [],
 "registry-mirrors": [],
 "insecure-registries": []
}
