$MaxMessageSize 512k
$CreateDirs on
$DirOwner appuser
$DirGroup appuser
$DirCreateMode 0755
$FileCreateMode 0644
$umask 0022
$FileOwner appuser
$FileGroup appuser

$template template_msg,"%timegenerated:1:10:date-rfc3339% %timegenerated:12:23:date-rfc3339% %syslogtag% %msg%\n"
template(name="template_defined_programname" type="string" string="/home/appuser/syslog/%programname:R,ERE,0,DFLT:^[a-z]+-[a-z]+--end%/%programname%.log")
template(name="template_undefined_programname" type="string" string="/home/appuser/syslog/apps-default/%programname%.log")

if ($syslogfacility-text == "local0" and $programname contains "apps-") then {
  action(type="omfile" dirCreateMode="0755" DynaFile="template_defined_programname" template="template_msg")
} else if ($syslogfacility-text == "local0" or $programname contains 'docker') then {
  action(type="omfile" dirCreateMode="0755" DynaFile="template_undefined_programname" template="template_msg")
}
